<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,282},{131,276}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,276}}</string>
                <key>sourceSize</key>
                <string>{133,276}</string>
            </dict>
            <key>jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,284},{111,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,274}}</string>
                <key>sourceSize</key>
                <string>{111,274}</string>
            </dict>
            <key>jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,131},{151,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,254}}</string>
                <key>sourceSize</key>
                <string>{151,254}</string>
            </dict>
            <key>jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{161,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,278}}</string>
                <key>sourceSize</key>
                <string>{161,278}</string>
            </dict>
            <key>jump_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,2},{127,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,280}}</string>
                <key>sourceSize</key>
                <string>{127,280}</string>
            </dict>
            <key>jump_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,284},{121,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,260}}</string>
                <key>sourceSize</key>
                <string>{121,260}</string>
            </dict>
            <key>jump_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,560},{115,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,250}}</string>
                <key>sourceSize</key>
                <string>{115,250}</string>
            </dict>
            <key>xiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,546},{107,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,160}}</string>
                <key>sourceSize</key>
                <string>{107,160}</string>
            </dict>
            <key>xiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,546},{107,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,160}}</string>
                <key>sourceSize</key>
                <string>{107,160}</string>
            </dict>
            <key>yin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,546},{107,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,160}}</string>
                <key>sourceSize</key>
                <string>{107,160}</string>
            </dict>
            <key>yin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,546},{107,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,160}}</string>
                <key>sourceSize</key>
                <string>{107,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level-2.png</string>
            <key>size</key>
            <string>{1754,724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2daec9a4e04a41e229b72c15d7a5fb4:04940e3adf399fe306dc1d4978526560:04d8e6ba95328cefbd8497a1359709bc$</string>
            <key>textureFileName</key>
            <string>level-2.png</string>
        </dict>
    </dict>
</plist>
