<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>du_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1674},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>du_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1586},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>du_yi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,300}}</string>
                <key>sourceSize</key>
                <string>{800,300}</string>
            </dict>
            <key>wangnima.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1586},{400,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,240}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>yi_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1586},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>yi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1586},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level-1.png</string>
            <key>size</key>
            <string>{804,1828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:852a01845bdc0cea6cdf12f286cfd22c:2040a0aa8d7f78e17091d33cdb8a72d4:312beed0514f1cde30118d74d5a1c481$</string>
            <key>textureFileName</key>
            <string>level-1.png</string>
        </dict>
    </dict>
</plist>
