<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ME.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,465},{84,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,46}}</string>
                <key>sourceSize</key>
                <string>{84,46}</string>
            </dict>
            <key>NU.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,465},{84,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,46}}</string>
                <key>sourceSize</key>
                <string>{84,46}</string>
            </dict>
            <key>background-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>blow_up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,724},{902,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{902,640}}</string>
                <key>sourceSize</key>
                <string>{902,640}</string>
            </dict>
            <key>blow_up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1366},{806,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{806,640}}</string>
                <key>sourceSize</key>
                <string>{806,640}</string>
            </dict>
            <key>blow_up_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{908,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{908,640}}</string>
                <key>sourceSize</key>
                <string>{908,640}</string>
            </dict>
            <key>clickme_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{473,280}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{473,280}}</string>
                <key>sourceSize</key>
                <string>{483,286}</string>
            </dict>
            <key>clickme_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{461,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,262}}</string>
                <key>sourceSize</key>
                <string>{461,262}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level-4.png</string>
            <key>size</key>
            <string>{1548,2008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:465fa6d9f5a29b987e6a3557b0512ed0:8e62f02dc7a75a6ce9e59ab4b4b2c272:2fa6b08bb7d17bb779ed0375c996cb02$</string>
            <key>textureFileName</key>
            <string>level-4.png</string>
        </dict>
    </dict>
</plist>
